.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background-image: linear-gradient(90deg, var(--grid-color) 1px, transparent 0),
    linear-gradient(180deg, var(--grid-color) 1px, transparent 0);
  background-size: 24px 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}
