.galleryContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  z-index: 999;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.imageWrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: grab;
  pointer-events: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  transform-origin: center center;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.imageWrapper:active {
  cursor: grabbing;
}

.image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  pointer-events: none;
  position: relative !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  draggable: false;
}

.buttonContainer {
  position: fixed;
  top: 46px;
  right: 85px;
  z-index: 999;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.buttonContainer.open {
  transform: translateX(calc(-70%));
  opacity: 1;
  pointer-events: auto;
}

.workButton {
  font-family: var(--primary-font);
  position: fixed;
  top: 46px;
  right: 85px;
  transform: translateX(-50%);
  background-color: #948aa8;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.6em;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.workButton:hover {
  background-color: #7a708f;
  transform: translateX(-50%) scale(1.05);
}

.workButton:active {
  transform: translateX(-50%) scale(0.95);
}

.shuffleButton,
.hideButton {
  font-family: var(--primary-font);
  background-color: #948aa8;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.6em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

@media (max-width: 768px) {
  .imageWrapper {
    width: 150px;
    height: 150px;
  }
}

.shuffleButton:hover {
  background-color: #7a708f;
  transform: scale(1.05);
}

.shuffleButton:active {
  transform: scale(0.95);
}

.hideButton:hover {
  background-color: #7a708f;
  transform: scale(1.05);
}

.hideButton:active {
  transform: scale(0.95);
}

.selected {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 2000;
}

.selected:hover {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1500;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}
